@import url("https://fonts.googleapis.com/css2?family=David+Libre&display=swap");

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; /* iOS Safari */
}

body {
  margin: 0;
  padding: 0;
  background-color: #e8e8e8;
  overflow-x: hidden;
  direction: rtl;
  font-family: "David Libre";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: unset;
  margin: 0;
  padding: 0;
  z-index: 2; /* make sure the text is always above the animated images */
}
input,
textarea {
  outline: none;
}
p {
  margin: 0;
  padding: 0;
}
